@import "./variables.scss";
@import "./highlights.scss";

@font-face {
   font-family: 'Roboto';
   src: url("/static/fonts/robotomono.ttf") format("truetype");
}

:root {
   font-family: 'Roboto', Avenir, Helvetica, Arial, sans-serif;
   font-size: $font-size;
   line-height: $line-height;
   font-weight: 400;
   background-color: $editor-background;

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
}

body {
   padding: 0;
   margin: 0;
   display: flex;
   min-width: 320px;
   min-height: 100vh;
   overflow: hidden;
}

::-webkit-scrollbar {
   width: 6px;
   height: 6px;
   background: $chromium-scrollbar-track; 
}

::-webkit-scrollbar-corner {
   background: $chromium-scrollbar-track;
}

::-webkit-scrollbar-thumb {
   background: $chromium-scrollbar-thumb;
}

a, .link {
   text-decoration: none;
   color: $accent-color;
   cursor: pointer;
}

.button {
   background: $accent-color;
   border: none;
   border-radius: 1rem;
   padding: 0.3rem 1.5rem;
   cursor: pointer;
   display: grid;
   font-size: 1rem;

   &.alternative {
      color: $accent-color;
      background-color: $runbutton-background;
   }
}


@media screen and (min-width: $breakpoint) {
   .tooltip {
      position: relative;
      display: inline-block;
   }
   
   .tooltip .tooltiptext {
      min-width: max-content;
      top: 100%;
      padding: 3px 1rem;
      color: $fileinfo-foreground;
      font-size: 0.8rem;
      text-align: center;
      background-color: $runbutton-background;
      border: 1px solid transparentize($fileinfo-foreground, 0.5);
      border-radius: 6px;

      position: absolute;
      pointer-events: none;
      visibility: hidden;
      z-index: 1;

      transition: visibility 0s;
      transition-delay: 0s;
   }

   .tooltip:hover .tooltiptext {
      visibility: visible;
      transition-delay: 0.8s;
   }
}
