.line {
   position: relative;
   height: 22px;
   line-height: 22px;
   padding-left: 76px;
}
.line-num {
   position: absolute;
   left: 0;
   top: 0;
   width: 56px;
   text-align: right;
   padding-right: 20px;
   color: #7B89B8;
   user-select: none;
}
.hl-case, .hl-endcase, .hl-repeatdeclare, .hl-repeatto, .hl-repeatstep, .hl-and, .hl-or {color: #ff7070}
.hl-print {color: #24a7ff}
.hl-read {color: #00ff95}
.hl-var {color: #00ff95}
.hl-if, .hl-else, .hl-endif, .hl-switch, .hl-endswitch {color: #ffd23e}
.hl-repeat, .hl-endrepeat {color: #ff66e5}
.hl-while, .hl-endwhile {color: #ff66e5}
.hl-dowhile, .hl-enddowhile {color: #ff66e5}
.hl-activerow {outline: 1px solid #525572}
.hl-comments {color: #7B89B8}
.hl-string {color: #fdabab}
