.line {
   border-top: 1px solid transparent;
   border-bottom: 1px solid transparent;
   height: 22px;
   display: flex;
   align-items: center;
}
.hl-case, .hl-endcase, .hl-forto, .hl-forstep {color: #ff7070}
.hl-print {color: #24a7ff}
.hl-var, .hl-read {color: #00ff95}
.hl-if, .hl-then, .hl-else, .hl-endif {color: #ffd23e}
.hl-switch, .hl-endswitch {color: #ffd23e}
.hl-for, .hl-endfor {color: #ED49D3}
.hl-while, .hl-endwhile {color: #ED49D3}
.hl-dowhile, .hl-enddowhile {color: #ED49D3}
.hl-activerow {border-color: #525572}
.hl-comments {color: #7B89B8}