$topbar-height: 3.3rem;
$topbar-background: #2d303d;

$fileinfo-background: #3f4254;
$fileinfo-foreground: white;
$runbutton-background: black;
$runbutton-foreground: #00bbd3;

$editor-background: #282A36;
$flowchart-background: black;

$linenumbers-foreground: #7B89B8;
$linenumbers-background: transparent;

$font-size: 16px;
$line-height: 24px;